# API
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_API_TIMEOUT=
EXTRA_ALLOWED_ORIGINS=

# Auth
NEXT_PUBLIC_AUTH_ENABLED=
NEXT_PUBLIC_JWT_STORAGE=
JWT_KEY==
JWT_ISSUER=
JWT_AUDIENCE=olimpo-

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
ConnectionStrings__DefaultConnection=

# Environment
ASPNETCORE_ENVIRONMENT = 
NEXT_PUBLIC_ENV=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_VERSION=

# Features
NEXT_PUBLIC_TELEMETRY_ENABLED=
NEXT_PUBLIC_DEBUG_MODE=

# Security
NEXT_PUBLIC_CORS_CREDENTIALS=
NEXT_PUBLIC_SECURITY_HEADERS=
NEXT_PUBLIC_CSP_ENABLED=

# Production (comentado)
# NEXT_PUBLIC_ENV=
# NEXT_PUBLIC_API_URL=
# NEXT_PUBLIC_DEBUG_MODE=